<nav class="navbar navbar-expand-sm bg-light navbar-light" style="box-shadow: 0px 0px 10px black">
  <div class="nav-item">
    <!-- <button type="button" class="btn" data-toggle="collapse" data-target="#demo" data-toggle="collapse" data-target="#demo"><i class="fa fa-align-justify" style="font-size:24px"></i></button> -->
    <button type="button" mat-button (click)="drawer.toggle()"><i class="fa fa-align-justify"
        style="font-size:24px"></i></button>


  </div>
  <div class="nav-item">
    <img src="http://icons.iconarchive.com/icons/carlosjj/google-jfk/128/keep-icon.png" width="50px">
  </div>
  <div class="nav-item">
    <h4>Fundoo Notes</h4>
  </div>
  <div class="nav-item">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="nav-item">
      <form class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" [(formControl)]='query' (click)="showsearch()"
          (keyup)="onKey($event)" placeholder="Search" style="width: 750px;">
      </form>
    </div>
    <div class="nav-item">
      <button type="button" class="btn"> <i class="pi pi-refresh " style="font-size: 2em"></i> </button>

    </div>

    <div class="nav-item">
      <div class="dropdown" style="float: right;right:0px;">
        <button type="button" class="btn" data-toggle="dropdown">
          <div class="smallcircle">
          <img src="http://localhost:8080/user/getphoto?token={{token}}" class="smallimage">
          </div>
          </button>
       
        <div class="dropdown-menu sign_outbox">

          <div fxLayout='row' fxLayoutAlign='Space-around' fxLayoutGap='5px'>

            <div class="circle" data-toggle="modal" data-target="#profile">
              <img src="http://localhost:8080/user/getphoto?token={{token}}" class="profile">
              <div class="change">Change</div>
            </div>
            <div >
              <p>{{fname}}</p>
             <p> 
                {{emailid}}
             </p>
            </div>

          </div>
          <div fxLayout='row' fxLayoutAlign='center'>
          <div class="dropdown-item data" (click)="logout()">Log Out</div>
</div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div *ngIf="!Show_search">
  <div class="pin">Results</div>
  <div fxLayout='column' class="box" fxLayoutAlign='center' fxLayoutGap='30px'>
    <div *ngFor="let items of Search">

      <mat-card [style]="{width: '300px' }" fxFlexOffset='30px' styleClass="ui-card-shadow"
        [style.background-color]="items.color" class="small_card">
        <p-header>
          <div class="input-field col m6" fxFlex='100' fxLayout='row'>
            {{items.title}}
          </div>

        </p-header>
        <div class="input-field col m6" fxFlex='100' fxLayout='row'>
          {{items.description}}

        </div>
        <p-footer>
          <div>
            <div fxLayout='column'>
              <div clas="tag">
                {{items.label}}
              </div>



              <div fxLayout='row' fxLayoutGap='30px' fxLayoutAlign='start'>
                <div>
                  <i class="far fa-bell"></i>
                </div>
                <div>
                  <i class="fa fa-user-plus"></i>
                </div>
                <div>
                  <div class="nav-item">
                    <div class="dropdown">
                      <div role="button" data-toggle="dropdown">
                        <i class="fa fa-palette"></i>
                      </div>

                      <!-- <div class="dropdown-menu">

                      <div class="block" *ngFor="let color of color_set" (click)="changecolor(color.color,item.id)"
                        style="height: 30px;width: 30px;float: left;margin: 3px;" [style.background]="color.color">
                      </div>


                    </div> -->
                    </div>
                  </div>
                </div>
                <div>
                  <i class="fas fa-image"></i>
                </div>
                <div (click)="archieve(item)">
                  <i class="fa fa-archive" aria-label="Archieve"></i>
                </div>
                <div>
                  <div [matMenuTriggerFor]="menu"> <i class="fas fa-ellipsis-v" size="3x"></i></div>

                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="delete(item)">Delete Note</button>
                    <button mat-menu-item [matMenuTriggerFor]="addlabel">Add Label</button>
                  </mat-menu>


                  <mat-menu #addlabel="matMenu">
                    <div class="drop" (click)="$event.stopPropagation()">
                      <div class="input-field col m6">
                        <input id="text" type="text" [(ngModel)]="labeln" placeholder="Add label...." class="validate">
                        <i class="fas fa-check" (click)="addlabe(labeln)"></i>

                      </div>
                    </div>
                    <div class="drop" *ngFor="let label of alllabel"
                      (click)="addnotetolabel(item.id,label.id,label.labelName)">
                      {{label.labelName}}</div>
                  </mat-menu>


                </div>
              </div>
            </div>

          </div>
        </p-footer>
      </mat-card>
    </div>
  </div>
</div>

<mat-divider></mat-divider>


<!-- 
<div *ngIf="Show_search"> -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <div class="block" routerLink='notes'>
      <i class="far fa-lightbulb"></i>&nbsp; &nbsp; Notes
    </div>
    <div class="block" routerLink='reminder'>
      <i class="far fa-bell" ></i>&nbsp; &nbsp; Reminder
    </div>
    <div class="block" *ngFor="let item of alllabel">
      <div>
        <i class="fa fa-tag fa-flip-vertical"></i> {{item.labelName}}
      </div>
    </div>
    <div class="block" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-tag fa-flip-vertical"></i> Edit Label
    </div>
    <div class="block" routerLink='archive'>
      <i class="fa fa-archive"></i>&nbsp; &nbsp; Archive
    </div>
    <div class="block" routerLink='trash'>
      <i class="far fa-trash-alt"></i>&nbsp; &nbsp; Trash
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="input-field col m6">
          <input id="text" type="text" [(ngModel)]="labeln" placeholder="Add label...." class="validate">
          <button type="button" class="btn" (click)="addlabe(labeln)">
            <i class="fas fa-check" fxLayoutAlign='end end'></i> </button>

        </div>
      </div>

      <!-- Modal body -->
      <div class="modal-body" fxLayout='column' fxLayoutAlign='Space-around'>

        <div class="drop" *ngFor="let label of alllabel">
          <button type="button" class="btn" (click)="delete(label)">
            <i class="fas fa-trash-alt"></i> </button>
          <input id="text" type="text" value="{{label.labelName}}" [(formControl)]='labname' class="validate">
          <button type="button" class="btn" (click)="editlabe(label)">
            <i class="fas fa-pencil-alt"></i> </button></div>




      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- </div> -->
<div class="modal" id="profile">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <form method="post">
        <div>
         
          <h6>Add Image</h6>
          <input #file type="file" accept='image/*' (change)="preview($event)" />
        </div>
      </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div>

      </div>
    </div>
  </div>
 