
<!-- <div fxLayout='row wrap' class="main" fxLayoutAlign='center center' fxFlex='100'   > -->
  <p-card [style]="{width: '300px' }"  fxFlexOffset='30px'  (click)="editnote(item)" styleClass="ui-card-shadow"
    class="small_card">
    <p-header>
      <div class="input-field col m6" fxFlex='100' fxLayout='row'>
        {{items.title}}
      </div>

    </p-header>
    <div class="input-field col m6" fxFlex='100' fxLayout='row'>
      {{items.description}}

    </div>
    <p-footer>
      <div>
          <div fxLayout='row' fxLayoutGap='30px' fxLayoutAlign='start' >
              <div>
                  <i class="far fa-bell"></i> 
              </div>
              <div>
                  <i class="fa fa-user-plus"></i>
              </div>
              <div >
                  <i class="fa fa-palette"></i>
              </div>
              <div >
                  <i class="fas fa-image"></i>
              </div>
              <div >
                  <i class="fa fa-archive"></i>
              </div>
              <div>
                      <div class="nav-item">
                              <div class="dropdown">
                                <button type="button" class="btn" data-toggle="dropdown">
                                      <i class="fas fa-ellipsis-v" size="3x"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" (click)="delete()">Delete Note</div>
                                    <div class="dropdown-item">Add Label</div>
                                    <div class="dropdown-item">Show Checkboxes</div>
          
                                  </div>
              </div>
          </div></div></div>
      </div>
    </p-footer>

  </p-card>
   
<!-- </div>  -->
 