.main{
    margin-top: -20px;
   
 }
 .validate{
     outline: none;
     border: transparent;
 }
 .button_property{
    outline: none;
    border: transparent;
 }
.small_card{
  margin-top: 50px;
  cursor: pointer;
}
 