.container {
    margin: 0px auto;
    width: 900px;
    padding: 50px;
  }
  .login_box {
    text-align: center;
    margin: 0px auto;
    padding: 20px 20px;
    width: 900px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    background-color: white(231, 233, 153);
  }
  
  .body {
    // background: url(" ");
    background-size: 100%;
    background-color: white;
    height: 650px;
    overflow: hidden;
    margin: -10px -10px;
  }
  .login_input {
  
    padding: 10px 10px;
  }
  .input_box {
     
    padding: 10px 10px;
  }
  .submit_box {
    width: 40%;
    padding: 0px 10px;
  }
  @media  only screen and (min-width:360 ){
.body{
  width: 10%
  }
  }
  ::ng-deep snack-bar-container.custom-class {
    background: yellow;
  }
  
  ::ng-deep .custom-class .mat-simple-snackbar {
    color: green;
  }










