.container {
  margin: 0px auto;
  width: 900px;
  padding: 50px;
}
.login_box {
  margin: 0px auto;
  text-align: center;
  padding: 20px 20px;
  width: 900px;
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
  background-color: rgb(250, 247, 243);
}

.body {
  background: url("https://wallpaperplay.com/walls/full/3/c/4/164624.jpg");
  background-size: 150%;
  height: 650px;
  overflow: hidden;
  margin: -10px -10px;
}
.login_input {
  
  // width: 100%;
  padding: 10px 10px;
}
 