
<div class="body">
        <div class="container">
                <div class="login_box"><h1>Reset Password</h1>
                    <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-4">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                                    <input type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-widget"
                                    placeholder="Enter password"      [(ngModel)]="password"  
                                    required class="input_box"> 
                                </div>
                            </div>
                    </div>
<div class="login_input"> 
        <button pButton type="submit" label="confirm E-Mail" (click)="setpassword()" class="submit_box" ></button>
</div></div></div></div>