.container {
    margin: 0px auto;
    width: 900px;
    padding: 50px;
  }
  .login_box {
    padding: 20px 20px;
    width: 900px;
    box-shadow: 0px 10px 10px black;
    border-radius: 10px;
    background-color: rgb(214, 214, 198);
  }
  
  .body {
    // background: url(" ");
    background-size: 100%;
    background-color: antiquewhite;
    height: 650px;
    overflow: hidden;
    margin: -10px -10px;
  }
  .login_input {
    width: 100%;
    padding: 10px 10px;
  }
  .input_box {
    width: 90%;
    padding: 10px 10px;
  }
   
  