.main{
   outline: none;
    margin-top: 24px;
 }
 .validate{
     outline: none;
     border: transparent;
    margin-top: 10px;

 }
 .button_property{
    outline: none;
    border: transparent;
 }
::ng-deep.mat-dialog-container{
    padding: 0px;
 }
.box{
   margin-top: 24px;
}